<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>



    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='css/stylish-portfolio.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

            <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<style>
#livesearch{ display:none; background:#FFF;}
#livesearch li{ text-align: left;}

</style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>NLP2014 Final Project</h1>
            <h3>103062590</h3>
            <br>

            <div class="input-group col-lg-4 col-md-offset-4" id="search">
                <form action="/" method="get">
                    <div class="input-group">
                        {% if name == '' %}
                        <input type="text" name="k" class="form-control" placeholder="Search for...">
                        {% else %}
                        <input type="text" name="k" class="form-control"  value="{{ name }}">
                        {% endif %}
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /input-group -->
            <div class=" col-lg-4 col-md-offset-4" id="livesearch">
  
            </div>

            <div class=" col-lg-4 col-md-offset-4" =>
                {% if name == '' %}

                {% else %}
                  <h3>Your search is '{{ name }}'!</h3>
                {% endif %}
            </div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>


 

<script>
$(function(){


$('#search input[name="k"]').keyup(function(){
$.post('/ajax_post_test',{'value':$(this).val()},function(data){
if(data=='0') $('#livesearch').html('').css('display','none');
else $('#livesearch').html(data).css('display','block');
});
});

});
</script>




</body>

</html>
